
.page {
    background: url("rounded.jpg") no-repeat bottom;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
}

.header {
    background: url("header.jpg") no-repeat top left;
    width: 642px;
    height: 387px;
}